@tailwind base;
@tailwind components;
@tailwind utilities;

.appi {
  position: relative;
  z-index: 1; /* Ensure content inside the div is above the pseudo-element */
}

.appi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("/images/pl-2.png"); */
  background-image: url("/images/pll-02.png");
  background-repeat: repeat;
  background-size: 10%;
  filter: grayscale(100%); /* Apply gray filter to only the background image */
  z-index: -51; /* Keep the background behind the content */
  backdrop-filter: rgb(77, 0, 17);
}

.pseudo::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #f3e3e2;
  transition: width 0.5s;
  margin-top: 0.35rem;
  border-radius: 0.5rem;
}

.pseudo:hover::after {
  width: 100%;
}
